{% load static %}
<!-- ABOUT -->

<article class="about active" data-page="about">
  <header>
    <h2 class="h2 article-title">About me</h2>
  </header>
  <!-- about section -->
  <section class="about-text">
    <p>
      I am a Fullstack Web Developer from Nairobi, Kenya. I love turning complex
      problems into simple and intuitive solutions.
    </p>
    <p>
      My job is to build websites that are functinoal and user-friendly but at
      the same time attractive. Moreover, I add personal touch to your product
      and make sure that it is eye-catching and easy to use. My aim s to bring
      across your message and identity in the most creative way.
    </p>
  </section>
  <!-- service section -->
  <section class="service">
    <h3 class="h3 service-title">What i'm doing</h3>
    <ul class="service-list">
      <li class="service-item">
        <div class="service-icon-box">
          <img
            src="{% static 'images/icon-design.svg'%}"
            alt="design icon"
            width="40"
          />
        </div>
        <div class="service-content-box">
          <h4 class="h4 service-item-title">Web Design</h4>
          <p class="service-item-text">
            Modern and High quality design made at a professional level
          </p>
        </div>
      </li>
      <li class="service-item">
        <div class="service-icon-box">
          <img
            src="{% static 'images/icon-dev.svg' %}"
            alt="web dev icon"
            width="40"
          />
        </div>
        <div class="service-content-box">
          <h4 class="h4 service-item-title">Web Development</h4>
          <p class="service-item-text">
            High quality Development of websites at a professional level
          </p>
        </div>
      </li>
      <li class="service-item">
        <div class="service-icon-box">
          <img
            src="{% static 'images/icon-app.svg' %}"
            alt="design icon"
            width="40"
          />
        </div>
        <div class="service-content-box">
          <h4 class="h4 service-item-title">Mobile Apps</h4>
          <p class="service-item-text">
            Professional development of applications for iOS and Android.
          </p>
        </div>
      </li>
      <li class="service-item">
        <div class="service-icon-box">
          <img
            src="{% static 'images/icon-photo.svg' %}"
            alt="photography icon"
            width="40"
          />
        </div>
        <div class="service-content-box">
          <h4 class="h4 service-item-title">Photography</h4>
          <p class="service-item-text">
            I make high-quality photos of any category at a professional level
          </p>
        </div>
      </li>
    </ul>
  </section>

  <!-- testimonials; -->
  <section class="testimonials">
    <h3 class="h3 testimonials-title">Testimonials</h3>
    <ul class="testimonials-list has-scrollbar">
      <li class="testimonials-item">
        <div class="content-card" data-testimonials-item>
          <figure class="testimonials-avatar-box">
            <img
              src="{% static 'images/avatar-1.png' %}"
              alt="Dan Lewis"
              width="60"
              data-testimonials-avatar
            />
          </figure>
          <h4 class="h4 testimonials-item-title" data-testimonials-title>
            Daniel Lewis
          </h4>
          <div class="testimonials-text" data-testimonials-text>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa,
              itaque nisi sint velit totam soluta, tempora veritatis libero
              cupiditate suscipit reprehenderit blanditiis. Ipsum consequuntur
              porro ea tempora atque eveniet itaque. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Officia dolorum quo repudiandae
              incidunt soluta ea dolore eos harum animi, quam pariatur maxime
              amet quasi deleniti accusantium quia qui. Quos, veritatis?
            </p>
          </div>
        </div>
      </li>
      <li class="testimonials-item">
        <div class="content-card" data-testimonials-item>
          <figure class="testimonials-avatar-box">
            <img
              src="{% static 'images/avatar-2.png' %}"
              alt="Dan Lewis"
              width="60"
              data-testimonials-avatar
            />
          </figure>
          <h4 class="h4 testimonials-item-title" data-testimonials-title>
            Jess Miller
          </h4>
          <div class="testimonials-text" data-testimonials-text>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa,
              itaque nisi sint velit totam soluta, tempora veritatis libero
              cupiditate suscipit reprehenderit blanditiis. Ipsum consequuntur
              porro ea tempora atque eveniet itaque.
            </p>
          </div>
        </div>
      </li>
      <li class="testimonials-item">
        <div class="content-card" data-testimonials-item>
          <figure class="testimonials-avatar-box">
            <img
              src="{% static 'images/avatar-3.png' %}"
              alt="Dan Lewis"
              width="60"
              data-testimonials-avatar
            />
          </figure>
          <h4 class="h4 testimonials-item-title" data-testimonials-title>
            Emily Evans
          </h4>
          <div class="testimonials-text" data-testimonials-text>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa,
              itaque nisi sint velit totam soluta, tempora veritatis libero
              cupiditate suscipit reprehenderit blanditiis. Ipsum consequuntur
              porro ea tempora atque eveniet itaque.
            </p>
          </div>
        </div>
      </li>
      <li class="testimonials-item">
        <div class="content-card" data-testimonials-item>
          <figure class="testimonials-avatar-box">
            <img
              src="{% static 'images/avatar-4.png' %}"
              alt="Dan Lewis"
              width="60"
              data-testimonials-avatar
            />
          </figure>
          <h4 class="h4 testimonials-item-title" data-testimonials-title>
            Henry William
          </h4>
          <div class="testimonials-text" data-testimonials-text>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa,
              itaque nisi sint velit totam soluta, tempora veritatis libero
              cupiditate suscipit reprehenderit blanditiis. Ipsum consequuntur
              porro ea tempora atque eveniet itaque.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <!-- testimonials modal -->
  <div class="modal-container" data-modal-container>
    <div class="overlay" data-overlay></div>
    <section class="testimonials-modal">
      <button class="modal-close-btn" data-modal-close-btn>
        <ion-icon name="close-outline"></ion-icon>
      </button>
      <div class="modal-img-wrapper">
        <figure class="modal-avatar-box">
          <img
            src="{% static 'images/avatar-1.png' %}"
            alt="Dan Lewis"
            width="80"
            data-modal-img
          />
        </figure>
        <img src="{% static 'images/icon-quote.svg' %}" alt="quotes icon" />
      </div>
      <div class="modal-content">
        <h4 class="h3 modal-title" data-modal-title>Daniel Lewis</h4>
        <time datetime="2022-06-15">15 June 2022</time>
        <div data-modal-text>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A similique
            amet voluptatum labore et ipsa nisi saepe temporibus aperiam, quidem
            mollitia libero quae. Ab necessitatibus ut officiis enim minima
            voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Labore neque facilis aliquam ipsam, dolorem dicta aperiam officia
            nisi, a beatae laborum. Omnis voluptate debitis tempore soluta odio
            veniam consectetur? Ipsa.
          </p>
        </div>
      </div>
    </section>
  </div>

  <!-- Clients -->
  <!-- <section class="clients">
    <h3 class="h3 clients-title">Clients</h3>
    <ul class="clients-list has-scrollbar">
      <li class="clients-item">
        <a href="#">
          <img src="images/logo-1-color.png" alt="client logo" />
        </a>
      </li>
      <li class="clients-item">
        <a href="#">
          <img src="images/logo-2-color.png" alt="client logo" />
        </a>
      </li>
      <li class="clients-item">
        <a href="#">
          <img src="images/logo-3-color.png" alt="client logo" />
        </a>
      </li>
      <li class="clients-item">
        <a href="#">
          <img src="images/logo-4-color.png" alt="client logo" />
        </a>
      </li>
      <li class="clients-item">
        <a href="#">
          <img src="images/logo-5-color.png" alt="client logo" />
        </a>
      </li>
      <li class="clients-item">
        <a href="#">
          <img src="images/logo-6-color.png" alt="client logo" />
        </a>
      </li>
    </ul>
  </section> -->
  <!-- RESUME -->
</article>
