{% load static %}

<article class="portfolio" data-page="portfolio">
  <h2 class="h2 article-title">Portfolio</h2>
  <section class="projects">
    <ul class="filter-list">
      <li class="filter-item">
        <button class="active" data-filter-btn>All</button>
      </li>
      <li class="filter-item">
        <button data-filter-btn>Web Design</button>
      </li>
      <li class="filter-item">
        <button data-filter-btn>Applications</button>
      </li>
      <li class="filter-item">
        <button data-filter-btn>Web Development</button>
      </li>
    </ul>
    <div class="filter-select-box">
      <button class="filter-select" data-select>
        <div class="select-value" data-select-value>Select Category</div>
        <div class="select-icon">
          <ion-icon name="chevron-down"></ion-icon>
        </div>
      </button>
      <ul class="select-list">
        <li class="select-item">
          <button data-select-item>All</button>
        </li>
        <li class="select-item">
          <button data-select-item>Web Design</button>
        </li>
        <li class="select-item">
          <button data-select-item>Applications</button>
        </li>
        <li class="select-item">
          <button data-select-item>Web Development</button>
        </li>
      </ul>
    </div>
    <ul class="project-list">
      {% for project in portfolio %}
      {% if project.is_active %}
      
      <li
        class="project-item active"
        data-filter-item
        data-category="web development"
      >
        <a href="#">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
            <img
              src="{{project.image.url}}"
              alt="Finance"
              loading="lazy"
            />
          </figure>
          <h3 class="project-title">{{project.name}}</h3>
          <p class="project-category">{{project.description}}</p>
        </a>
      </li>

      {% endif %}
      {% endfor%}

    </ul>
    <!-- <ul class="project-list">
      <li
        class="project-item active"
        data-filter-item
        data-category="web development"
      >
        <a href="#">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
            <img
              src="{% static 'images/project-1.jpg' %}"
              alt="Finance"
              loading="lazy"
            />
          </figure>
          <h3 class="project-title">Finance</h3>
          <p class="project-category">Web Development</p>
        </a>
      </li>
      <li
        class="project-item active"
        data-filter-item
        data-category="web development"
      >
        <a href="#">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
            <img
              src="{% static 'images/project-2.png' %}"
              alt="Orizon"
              loading="lazy"
            />
          </figure>
          <h3 class="project-title">Orizon</h3>
          <p class="project-category">Web Development</p>
        </a>
      </li>
      <li
        class="project-item active"
        data-filter-item
        data-category="web design"
      >
        <a href="#">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
            <img
              src="{% static 'images/project-3.jpg' %}"
              alt="Fundo"
              loading="lazy"
            />
          </figure>
          <h3 class="project-title">Fundo</h3>
          <p class="project-category">Web Design</p>
        </a>
      </li>
      <li
        class="project-item active"
        data-filter-item
        data-category="applications"
      >
        <a href="#">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
            <img
              src="{% static 'images/project-4.png' %}"
              alt="Brawlhalla"
              loading="lazy"
            />
          </figure>
          <h3 class="project-title">Brawlhalla</h3>
          <p class="project-category">Applications</p>
        </a>
      </li>
      <li
        class="project-item active"
        data-filter-item
        data-category="applications"
      >
        <a href="#">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
            <img
              src="{% static 'images/project-5.png' %}"
              alt="DSM"
              loading="lazy"
            />
          </figure>
          <h3 class="project-title">DSM</h3>
          <p class="project-category">Applications</p>
        </a>
      </li>
      <li
        class="project-item active"
        data-filter-item
        data-category="web design"
      >
        <a href="#">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
            <img
              src="{% static 'images/project-7.png' %}"
              alt="Metaspark"
              loading="lazy"
            />
          </figure>
          <h3 class="project-title">Metaspark</h3>
          <p class="project-category">Web Design</p>
        </a>
      </li>
      <li
        class="project-item active"
        data-filter-item
        data-category="applications"
      >
        <a href="#">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
            <img
              src="{% static 'images/project-8.jpg' %}"
              alt="Task Manager"
              loading="lazy"
            />
          </figure>
          <h3 class="project-title">Task Manager</h3>
          <p class="project-category">Applications</p>
        </a>
      </li>
      <li
        class="project-item active"
        data-filter-item
        data-category="web development"
      >
        <a href="#">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
            <img
              src="{% static 'images/project-9.png' %}"
              alt="Arrival"
              loading="lazy"
            />
          </figure>
          <h3 class="project-title">Arrival</h3>
          <p class="project-category">Web Development</p>
        </a>
      </li>
    </ul> -->
  </section>
</article>
